@model IEnumerable<ProductsWithRouting.Models.Product>

@{
    ViewData["Title"] = "View";
}

<h1>Student List</h1>

<p>
    <a asp-action="Create">Add new student</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
           <tr> 
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Products", new {id = item.Id}, null) |
                @Html.ActionLink("Details","View" ,"Products", new {id = item.Id}, null) |
                @Html.ActionLink("Delete","Delete","Products", new {id = item.Id},null )
            </td>
        </tr>
}
    </tbody>
</table>
